## Proactive Disclosure - Travel Expenses - Proactive Disclosure - Travel Expenses

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load data
data = pd.read_csv(r'./data/travel expense.csv')
print(data.shape)
data.head()

(88305, 21)

,ref_number,disclosure_group,title_en,title_fr,name,purpose_en,purpose_fr,start_date,end_date,destination_en,...,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,additional_comments_fr,owner_org,owner_org_title
0,T-20120-P11-001,SLE,Chief Executive Officer,Président directeur-général,Philip Rizcallah,To attend meeting with Saskatchewan Provincial...,Pour assister à une réunion avec le gouverneme...,2020-02-03,2020-02-04,"Regina, Saskatchewan, Canada",...,646.17,117.26,157.78,197.25,0.0,1118.46,NaN,NaN,casdo-ocena,Accessibility Standards Canada | Normes d’acce...
1,T-2020-P11-0001,SLE,Chair,Président,"Bérubé, Paul-Claude",Board members meeting,Réunion du conseil,2020-02-09,2020-02-13,"Vancouver, British Columbia, Canada",...,1104.27,189.72,841.31,461.84,NaN,2597.14,NaN,NaN,casdo-ocena,Accessibility Standards Canada | Normes d’acce...
2,T-2020-P11-0002,SLE,Vice Chair,vice-présidente,"Reid, Mary",Board members meeting,Réunion du conseil,2020-02-09,2020-02-14,"Vancouver, British Columbia, Canada",...,2511.31,132.48,785.65,591.00,108.3,4128.74,NaN,NaN,casdo-ocena,Accessibility Standards Canada | Normes d’acce...
3,T-2020-P11-0003,SLE,Board Of Directors,Membre du conseil de direction,"McLaughlin, Joseph",Board members meeting,Réunion du conseil,2020-02-09,2020-02-12,"Vancouver, British Columbia, Canada",...,NaN,58.32,630.99,264.60,123.0,1076.91,NaN,NaN,casdo-ocena,Accessibility Standards Canada | Normes d’acce...
4,T-2020-P11-0004,SLE,Board Of Directors,Membre du conseil de direction,"Haan, Maureen",Board members meeting,Réunion du conseil,2020-02-09,2020-02-12,"Vancouver, British Columbia, Canada",...,880.99,192.76,630.99,332.45,NaN,2037.19,NaN,NaN,casdo-ocena,Accessibility Standards Canada | Normes d’acce...

When we see the sample data, we can see there are some columns that's duplicate with English and French. So we will remove French's column.

In [3]:
data.columns

Index(['ref_number', 'disclosure_group', 'title_en', 'title_fr', 'name',
       'purpose_en', 'purpose_fr', 'start_date', 'end_date', 'destination_en',
       'destination_fr', 'airfare', 'other_transport', 'lodging', 'meals',
       'other_expenses', 'total', 'additional_comments_en',
       'additional_comments_fr', 'owner_org', 'owner_org_title'],
      dtype='object')

In [4]:
#remove french column
french_column = ['title_fr', 'purpose_fr', 'destination_fr', 'additional_comments_fr']
data.drop(french_column, axis=1, inplace=True)
data.shape

(88305, 17)

In [5]:
#check if the French column successfully removed
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88305 entries, 0 to 88304
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ref_number              88304 non-null  object
 1   disclosure_group        66624 non-null  object
 2   title_en                87597 non-null  object
 3   name                    87757 non-null  object
 4   purpose_en              88290 non-null  object
 5   start_date              88305 non-null  object
 6   end_date                87501 non-null  object
 7   destination_en          87668 non-null  object
 8   airfare                 84538 non-null  float64
 9   other_transport         86217 non-null  float64
 10  lodging                 85845 non-null  float64
 11  meals                   87105 non-null  float64
 12  other_expenses          80054 non-null  float64
 13  total                   88116 non-null  float64
 14  additional_comments_en  10999 non-null  object
 15  owner_org               88305 non-null  object
 16  owner_org_title         88305 non-null  object
dtypes: float64(6), object(11)
memory usage: 11.5+ MB

Since the majority of our column are string, we will convert all of them to lower case

In [8]:
for x in data:
    if data[x].dtypes == object:
        data[x] = data[x].str.lower()
data.head()

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title
0,t-20120-p11-001,sle,chief executive officer,philip rizcallah,to attend meeting with saskatchewan provincial...,2020-02-03,2020-02-04,"regina, saskatchewan, canada",646.17,117.26,157.78,197.25,0.0,1118.46,NaN,casdo-ocena,accessibility standards canada | normes d’acce...
1,t-2020-p11-0001,sle,chair,"bérubé, paul-claude",board members meeting,2020-02-09,2020-02-13,"vancouver, british columbia, canada",1104.27,189.72,841.31,461.84,0.0,2597.14,NaN,casdo-ocena,accessibility standards canada | normes d’acce...
2,t-2020-p11-0002,sle,vice chair,"reid, mary",board members meeting,2020-02-09,2020-02-14,"vancouver, british columbia, canada",2511.31,132.48,785.65,591.00,108.3,4128.74,NaN,casdo-ocena,accessibility standards canada | normes d’acce...
3,t-2020-p11-0003,sle,board of directors,"mclaughlin, joseph",board members meeting,2020-02-09,2020-02-12,"vancouver, british columbia, canada",0.00,58.32,630.99,264.60,123.0,1076.91,NaN,casdo-ocena,accessibility standards canada | normes d’acce...
4,t-2020-p11-0004,sle,board of directors,"haan, maureen",board members meeting,2020-02-09,2020-02-12,"vancouver, british columbia, canada",880.99,192.76,630.99,332.45,0.0,2037.19,NaN,casdo-ocena,accessibility standards canada | normes d’acce...

While we see the data, we can see that some of the name, destination and organisation title column are in special character format. So we will convert both column to ASCII format.

In [9]:
ascii_column = ['name', 'destination_en', 'owner_org_title']

for x in ascii_column:
    data [x] = data[x].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

data.head()

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title
0,t-20120-p11-001,sle,chief executive officer,philip rizcallah,to attend meeting with saskatchewan provincial...,2020-02-03,2020-02-04,"regina, saskatchewan, canada",646.17,117.26,157.78,197.25,0.0,1118.46,NaN,casdo-ocena,accessibility standards canada | normes dacces...
1,t-2020-p11-0001,sle,chair,"berube, paul-claude",board members meeting,2020-02-09,2020-02-13,"vancouver, british columbia, canada",1104.27,189.72,841.31,461.84,0.0,2597.14,NaN,casdo-ocena,accessibility standards canada | normes dacces...
2,t-2020-p11-0002,sle,vice chair,"reid, mary",board members meeting,2020-02-09,2020-02-14,"vancouver, british columbia, canada",2511.31,132.48,785.65,591.00,108.3,4128.74,NaN,casdo-ocena,accessibility standards canada | normes dacces...
3,t-2020-p11-0003,sle,board of directors,"mclaughlin, joseph",board members meeting,2020-02-09,2020-02-12,"vancouver, british columbia, canada",0.00,58.32,630.99,264.60,123.0,1076.91,NaN,casdo-ocena,accessibility standards canada | normes dacces...
4,t-2020-p11-0004,sle,board of directors,"haan, maureen",board members meeting,2020-02-09,2020-02-12,"vancouver, british columbia, canada",880.99,192.76,630.99,332.45,0.0,2037.19,NaN,casdo-ocena,accessibility standards canada | normes dacces...

We realised for organisation title it contains English and French. We will clean by removing french from our data.

In [10]:
#function to keep the first text before special character
'''
    Parameter:
        spc(str): special character that we want to use as boundary
        txt(str): string value that we want to check
    Return:
        new(str): new string value that the text after special character has been removed.
'''
def split_after_char(spc, txt):
    new = txt.split(spc, 1)[0]
    return new

In [11]:
#remove text after special character
data['new_org'] = pd.DataFrame(data['owner_org_title'].apply(lambda x: split_after_char(' | ',x)))
data.head()

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title,new_org
0,t-20120-p11-001,sle,chief executive officer,philip rizcallah,to attend meeting with saskatchewan provincial...,2020-02-03,2020-02-04,"regina, saskatchewan, canada",646.17,117.26,157.78,197.25,0.0,1118.46,NaN,casdo-ocena,accessibility standards canada | normes dacces...,accessibility standards canada
1,t-2020-p11-0001,sle,chair,"berube, paul-claude",board members meeting,2020-02-09,2020-02-13,"vancouver, british columbia, canada",1104.27,189.72,841.31,461.84,0.0,2597.14,NaN,casdo-ocena,accessibility standards canada | normes dacces...,accessibility standards canada
2,t-2020-p11-0002,sle,vice chair,"reid, mary",board members meeting,2020-02-09,2020-02-14,"vancouver, british columbia, canada",2511.31,132.48,785.65,591.00,108.3,4128.74,NaN,casdo-ocena,accessibility standards canada | normes dacces...,accessibility standards canada
3,t-2020-p11-0003,sle,board of directors,"mclaughlin, joseph",board members meeting,2020-02-09,2020-02-12,"vancouver, british columbia, canada",0.00,58.32,630.99,264.60,123.0,1076.91,NaN,casdo-ocena,accessibility standards canada | normes dacces...,accessibility standards canada
4,t-2020-p11-0004,sle,board of directors,"haan, maureen",board members meeting,2020-02-09,2020-02-12,"vancouver, british columbia, canada",880.99,192.76,630.99,332.45,0.0,2037.19,NaN,casdo-ocena,accessibility standards canada | normes dacces...,accessibility standards canada

We are happy with the result, so we will be removing the old organisation column

In [12]:
#removing the old organisation column
data.drop(['owner_org_title'], axis=1, inplace=True)

## Handling Null value

In [6]:
#check for null value
data.isnull().sum()

ref_number                    1
disclosure_group          21681
title_en                    708
name                        548
purpose_en                   15
start_date                    0
end_date                    804
destination_en              637
airfare                    3767
other_transport            2088
lodging                    2460
meals                      1200
other_expenses             8251
total                       189
additional_comments_en    77306
owner_org                     0
owner_org_title               0
dtype: int64

## Handling Null for Numerical data
We will be replacing numerical data that contain null with 0.

In [7]:
#replace null with 0
num_null = ['airfare', 'other_transport', 'lodging', 'meals', 'other_expenses', 'total']
for x in num_null:
    data[x].fillna(0, inplace=True)
data.isnull().sum()

ref_number                    1
disclosure_group          21681
title_en                    708
name                        548
purpose_en                   15
start_date                    0
end_date                    804
destination_en              637
airfare                       0
other_transport               0
lodging                       0
meals                         0
other_expenses                0
total                         0
additional_comments_en    77306
owner_org                     0
owner_org_title               0
dtype: int64

## Handling Null ref_number
We will check details with null ref_number to get some insights

In [10]:
print(f'Unique reference number: {data.ref_number.nunique()}\nTotal data: {data.shape[0]}')
data[data['ref_number'].duplicated() == True].sort_values('ref_number').head()

Unique reference number: 52654
Total data: 88305

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title
73659,101,sle,"vice-president, special initiatives",carol sheedy,"march 2004, accommodation",2004-03-01,2004-03-31,"halifax, nova scotia",0.00,0.00,988.0,0.0,0.00,988.00,NaN,pc,parks canada | parcs canada
73651,102,sle,"vice-president, special initiatives",carol sheedy,"april 2004, accommodation",2004-04-01,2004-04-30,"halifax, nova scotia",0.00,0.00,988.0,0.0,0.00,988.00,NaN,pc,parks canada | parcs canada
73340,103,sle,"vice-president, special initiatives",carol sheedy,"may 2004, accommodation",2004-05-01,2004-05-31,"halifax, nova scotia",0.00,0.00,988.0,0.0,0.00,988.00,NaN,pc,parks canada | parcs canada
73652,104,sle,"director general, west and northern canada",gaby fortin,executive board face to face and classificatio...,2004-03-29,2004-03-31,"gatineau, quebec",3250.21,169.92,0.0,191.7,100.10,3711.93,NaN,pc,parks canada | parcs canada
73650,105,sle,"director general, west and northern canada",gaby fortin,meeting with the department of fisheries and o...,2004-04-13,2004-04-15,"vancouver, bc",682.68,132.00,234.0,193.0,142.41,1384.09,NaN,pc,parks canada | parcs canada

From the result, we can see that reference number not unique. Which we can't use it as key to check duplication.

In [11]:
#check sample
data.loc[data['ref_number']=='101']

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title
48486,101,NaN,director,horst intscher,to attend egmont discussions regarding locatio...,2007-05-07,2007-05-07,"toronto, ontario",652.17,40.8,0.0,0.0,16.5,709.47,NaN,fintrac-canafe,financial transactions and reports analysis ce...
73659,101,sle,"vice-president, special initiatives",carol sheedy,"march 2004, accommodation",2004-03-01,2004-03-31,"halifax, nova scotia",0.00,0.0,988.0,0.0,0.0,988.00,NaN,pc,parks canada | parcs canada

In [12]:
#show the null data
data[data['ref_number'].isnull()]

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title
71777,NaN,sle,"president, pacifican","jones, dylan",global federation of competitiveness councils ...,2022-11-11,2022-11-17,"athens, greece",7490.86,262.39,1910.31,1060.47,60.36,10784.39,missing internal reference number - 8950,pacifican,pacific economic development canada | développ...

While we check the null reference data, on additional_comments_en it shows 'missing internal reference number - 8950'. Since there is an information about the reference number in the additional comments, we will try to find if there is any data with reference number contains 8905

In [13]:
#find data with reference 8905
data.loc[data['ref_number'].isin(['8950'])]

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title
72082,8950,sle,"vice-president, special initiatives",carol sheedy,meeting with the never forgotten national memo...,2014-12-22,2014-12-22,"toronto, ontario",398.18,243.69,0.0,32.1,0.0,673.97,NaN,pc,parks canada | parcs canada

Since reference number can be duplicated, we will be replacing the null reference number to 8905

In [14]:
data['ref_number'].fillna(8905, inplace=True)
data.isnull().sum()

ref_number                    0
disclosure_group          21681
title_en                    708
name                        548
purpose_en                   15
start_date                    0
end_date                    804
destination_en              637
airfare                       0
other_transport               0
lodging                       0
meals                         0
other_expenses                0
total                         0
additional_comments_en    77306
owner_org                     0
owner_org_title               0
dtype: int64

## Clean null value for the rest of string data
Checking for unique values for data that contains null value

In [15]:
for x in data:
    if data[x].isnull().sum()>0:
        print(f'{data[x].unique()} - {data[x].nunique()}')

['sle' nan 'mpses' 'fovc'] - 3
['chief executive officer' 'chair' 'vice chair' ...
 'executive committee member' 'executive director - yesab'
 'chair of yesa board'] - 3901
['philip rizcallah' 'berube, paul-claude' 'reid, mary' ...
 'dennis, nicloux' 'dennis nicloux' 'bryony mcintyre'] - 6136
['to attend meeting with saskatchewan provincial government'
 'board members meeting'
 'meeting with chief executive officer of accessibility stadards canada'
 ... 'placer mining tour' 'pan territorial board forrm attendance'
 'meeting with vuntut gwitchin first nation'] - 53212
['2020-02-04' '2020-02-13' '2020-02-14' ... '2013-11-03' '2015-09-07'
 '2021-05-13'] - 6690
['regina, saskatchewan, canada' 'vancouver, british columbia, canada'
 'montreal, quebec, canada' ...
 'haines junction, rainbow lake, quill creek'
 'watson lake and teslin, yukon' 'mayo, yukon'] - 14960
[nan 'trip was cancelled' 'parking fees reimbursed for  various dates' ...
 'to extend flight pass ' 'airfare booked using flight pass'
 'helicoper of total $3,381.00 was provided for 4 persons (3 board members and 1 staff)'] - 5435

In [16]:
#replace to unknown
unknown_col = ['disclosure_group', 'title_en', 'name', 'additional_comments_en', 'purpose_en', 'destination_en']
for x in unknown_col:
    data[x].fillna('unknown', inplace=True)
data.isnull().sum()

ref_number                  0
disclosure_group            0
title_en                    0
name                        0
purpose_en                  0
start_date                  0
end_date                  804
destination_en              0
airfare                     0
other_transport             0
lodging                     0
meals                       0
other_expenses              0
total                       0
additional_comments_en      0
owner_org                   0
owner_org_title             0
dtype: int64

## Clean datetime null value

In [17]:
#check data sample with null end date
data[data['end_date'].isnull()].head()

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title
6413,t-2006-q1-00033,unknown,president,michelle d'auray,various meetings,2006-03-06,NaN,ottawa,0.00,0.00,0.0,45.5,0.0,45.50,unknown,ced-dec,canada economic development for quebec regions...
6521,t-2006-q2-00013,unknown,president,michelle d'auray,various meetings,2006-08-16,NaN,toronto,819.23,126.00,0.0,33.6,0.0,978.83,unknown,ced-dec,canada economic development for quebec regions...
6635,t-2005-q3-00071,unknown,president,michelle d'auray,selection board,2005-11-25,NaN,ottawa,0.00,0.00,0.0,24.2,0.0,24.20,unknown,ced-dec,canada economic development for quebec regions...
6637,t-2006-q1-00032,unknown,president,michelle d'auray,various meetings,2006-04-07,NaN,ottawa,0.00,0.00,0.0,46.1,0.0,46.10,unknown,ced-dec,canada economic development for quebec regions...
8125,t-2006-q2-00030,unknown,"vice-president, policy and planning (acting)",rita tremblay,meeting with the president of canada economic ...,2006-07-04,NaN,montreal,0.00,221.44,0.0,0.0,0.0,221.44,unknown,ced-dec,canada economic development for quebec regions...

Since we don't have any information regarding the null end date, we will be replacing it with the start-date

In [18]:
#fill null end date with start date
data['end_date'].fillna(data['start_date'], inplace=True)

#check sample
data.loc[data['ref_number']=='t-2006-q1-00033']

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,owner_org_title
6413,t-2006-q1-00033,unknown,president,michelle d'auray,various meetings,2006-03-06,2006-03-06,ottawa,0.00,0.0,0.00,45.5,0.0,45.50,unknown,ced-dec,canada economic development for quebec regions...
15949,t-2006-q1-00033,unknown,press secretary,veronique bruneau,banff world television festival,2006-06-10,2006-06-12,banff,2879.74,0.0,525.79,168.1,0.0,3573.63,unknown,pch,canadian heritage | patrimoine canadien
34113,t-2006-q1-00033,sle,senior associate deputy minister,hy braiter,meeting - service canada management board,2006-05-02,2006-05-05,"vancouver, british columbia, canada",2835.54,74.4,666.90,127.8,0.0,3704.64,unknown,esdc-edsc,employment and social development canada | emp...

## Clean destination
For the destination, we will be split the data by its countries. We will check if the data contains countries list then move that to the new column 'country'. If the destination_en column didn't mention any country, we will check if it's contains city list in Canada.

In [22]:
countries_list = pd.read_csv(r'./data/countries_britanica.csv', header=None)
print(countries_list.shape)
countries_list.head()

(197, 1)

             0
0  afghanistan
1      albania
2      algeria
3      andorra
4       angola

In [23]:
#join all country into 1 string pattern
country_pattern = '|'.join(str(x) for x in countries_list[0])
country_pattern

'afghanistan|albania|algeria|andorra|angola|antigua and barbuda|argentina|armenia|australia|austria|azerbaijan|the bahamas|bahrain|bangladesh|barbados|belarus|belgium|belize|benin|bhutan|bolivia|bosnia and herzegovina|botswana|brazil|brunei|bulgaria|burkina faso|burundi|cabo verde|cambodia|cameroon|canada|central african republic|chad|chile|china|colombia|comoros|democratic republic of the congo|republic of the congo|costa rica|côte d’ivoire|croatia|cuba|cyprus|czech republic|denmark|djibouti|dominica|dominican republic|east timor|timor|ecuador|egypt|el salvador|equatorial guinea|eritrea|estonia|eswatini|ethiopia|fiji|finland|france|gabon|the gambia|georgia|germany|ghana|greece|grenada|guatemala|guinea|guinea-bissau|guyana|haiti|honduras|hungary|iceland|india|indonesia|iran|iraq|ireland|israel|italy|jamaica|japan|jordan|kazakhstan|kenya|kiribati|north korea|south korea|kosovo|kuwait|kyrgyzstan|laos|latvia|lebanon|lesotho|liberia|libya|liechtenstein|lithuania|luxembourg|madagascar|malawi|malaysia|maldives|mali|malta|marshall islands|mauritania|mauritius|mexico|micronesia|moldova|monaco|mongolia|montenegro|morocco|mozambique|myanmar|burma|namibia|nauru|nepal|netherlands|new zealand|nicaragua|niger|nigeria|north macedonia|norway|oman|pakistan|palau|panama|papua new guinea|paraguay|peru|philippines|poland|portugal|qatar|romania|russia|rwanda|saint kitts and nevis|saint lucia|saint vincent and the grenadines|samoa|san marino|sao tome and principe|saudi arabia|senegal|serbia|seychelles|sierra leone|singapore|slovakia|slovenia|solomon islands|somalia|south africa|spain|sri lanka|sudan|suriname|sweden|switzerland|syria|taiwan|tajikistan|tanzania|thailand|togo|tonga|trinidad and tobago|tunisia|turkey|turkmenistan|tuvalu|uganda|ukraine|united arab emirates|united kingdom|united states|uruguay|uzbekistan|vanuatu|vatican city|venezuela|vietnam|yemen|zambia|zimbabwe'

List Canada Cities
Sources: https://simplemaps.com/data/canada-cities

List US Cities
Sources: https://simplemaps.com/data/us-cities

In [24]:
#load cities
can_cities = pd.read_csv(r'./data/canadacities.csv')
print(can_cities.shape)
can_cities.head()

(1737, 12)

,city,city_ascii,province_id,province_name,lat,lng,population,density,timezone,ranking,postal,id
0,Toronto,Toronto,ON,Ontario,43.7417,-79.3733,5647656,4427.8,America/Toronto,1,M5T M5V M5P M5S M5R M5E M5G M5A M5C M5B M5M M5...,1124279679
1,Montréal,Montreal,QC,Quebec,45.5089,-73.5617,3675219,4833.5,America/Toronto,1,H1X H1Y H1Z H1P H1R H1S H1T H1V H1W H1H H1J H1...,1124586170
2,Vancouver,Vancouver,BC,British Columbia,49.2500,-123.1000,2426160,5749.9,America/Vancouver,1,V6Z V6S V6R V6P V6N V6M V6L V6K V6J V6H V6G V6...,1124825478
3,Calgary,Calgary,AB,Alberta,51.0500,-114.0667,1306784,1592.4,America/Edmonton,1,T1Y T2H T2K T2J T2M T2L T2N T2A T2C T2B T2E T2...,1124690423
4,Edmonton,Edmonton,AB,Alberta,53.5344,-113.4903,1151635,1320.4,America/Edmonton,1,T5X T5Y T5Z T5P T5R T5S T5T T5V T5W T5H T5J T5...,1124290735

In [25]:
#load US cities
us_cities = pd.read_csv(r'./data/uscities.csv')
print(us_cities.shape)
us_cities.head()

(30844, 17)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 7503...,1840019440

In [26]:
#CANADA
#provinces
p = can_cities['province_name'].unique()
p = [x.lower() for x in p]
province = '|'.join(str(x) for x in p)

#provinces abv
pa = can_cities['province_id'].unique()
pa = [x.lower() for x in pa]
prov_abv = '|'.join(str(x) for x in pa)

city = '|'.join(str(x) for x in can_cities['city_ascii'].str.lower())
combined = province + '|' + city + '|' + prov_abv

#USA cities
us_city = '|'.join(str(x) for x in us_cities['city_ascii'].str.lower())

In [27]:
import re
'''
    Parameter:
        search_str(str): target string that we want to check
        search_list_country(str): list of country that has been join as string pattern
        search_list_can(str): list of Canada's town that has been join as pattern
        search_list_us(str): list of USA's town that has been join as pattern
    Return:
        return_str(str): name of Country, or Canada/ USA if it's match the CAN & US city pattern, unknown if no pattern match
''' 

def can_city_search(search_str:str, search_list_country=country_pattern, search_list_can=combined, search_list_us=us_city):
    country_obj = re.search(search_list_country, search_str)
    city_obj = re.search(search_list_can, search_str)
    us_obj = re.search(search_list_us, search_str)
    if country_obj :
        return_str = search_str[country_obj.start(): country_obj.end()]
    elif city_obj:
        return_str = 'canada'
    elif us_obj:
        return_str = 'united states'
    else:
        return_str = 'unknown'
    return return_str

In [28]:
#apply the can_city_search function to search the destination country
data['country'] = data['destination_en'].apply(lambda x: can_city_search(search_str=x))
data.head()

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,new_org,country
0,t-20120-p11-001,sle,chief executive officer,philip rizcallah,to attend meeting with saskatchewan provincial...,2020-02-03,2020-02-04,"regina, saskatchewan, canada",646.17,117.26,157.78,197.25,0.0,1118.46,unknown,casdo-ocena,accessibility standards canada,canada
1,t-2020-p11-0001,sle,chair,"berube, paul-claude",board members meeting,2020-02-09,2020-02-13,"vancouver, british columbia, canada",1104.27,189.72,841.31,461.84,0.0,2597.14,unknown,casdo-ocena,accessibility standards canada,canada
2,t-2020-p11-0002,sle,vice chair,"reid, mary",board members meeting,2020-02-09,2020-02-14,"vancouver, british columbia, canada",2511.31,132.48,785.65,591.00,108.3,4128.74,unknown,casdo-ocena,accessibility standards canada,canada
3,t-2020-p11-0003,sle,board of directors,"mclaughlin, joseph",board members meeting,2020-02-09,2020-02-12,"vancouver, british columbia, canada",0.00,58.32,630.99,264.60,123.0,1076.91,unknown,casdo-ocena,accessibility standards canada,canada
4,t-2020-p11-0004,sle,board of directors,"haan, maureen",board members meeting,2020-02-09,2020-02-12,"vancouver, british columbia, canada",880.99,192.76,630.99,332.45,0.0,2037.19,unknown,casdo-ocena,accessibility standards canada,canada

Checking destination with unknown country and will decide if we need a further cleaning.

In [29]:
data[data['destination_en']=='bruxelles']

,ref_number,disclosure_group,title_en,name,purpose_en,start_date,end_date,destination_en,airfare,other_transport,lodging,meals,other_expenses,total,additional_comments_en,owner_org,new_org,country
15893,t-2005-q3-00018,unknown,"assistant deputy minister, international and i...","paquette, jacque",meeting of senior officials of tv5,2005-12-07,2005-12-13,bruxelles,4623.93,552.14,416.21,190.46,0.0,5782.74,unknown,pch,canadian heritage,unknown

In [30]:
unk = data[data['country']=='unknown']
print(f'Total Unknown {unk.shape[0]} \nTotal unique destination: {unk.destination_en.nunique()}')
unk.destination_en.unique()

Total Unknown 981
Total unique destination: 136

array(['geneve, ch', 'geneve, suisse', 'geneve', 'vaudreuil, que.',
       'unknown', "st-john's, nfld", "st john's, nfld", 'baddeck',
       "val d'or", 'bagotville', 'st-prime', 'iqualuit', 'st-felicien',
       'st-hubert', 'val david', 'tadoussac', 'estrie', '-', 'st hugues',
       'trois rivieres', 'sorel', 'afrique', 'st-hubert / bagotville',
       "st-hubert / val d'or", 'ncr', 'texas', 'nv', 'dc', 'illinois',
       '(ma)', 'maryland', 'schiphol', 'passeport / passport',
       'graz, schladming', "st-john's", 'verdun', 'dakar', 'bruxelles',
       "st.john's", 'jakarta, hanoi, bangkok', 'seoul', 'vimy',
       'trois-riviere', 'beijing', 'harbin / beijing', 'acapulco',
       'kanata', 'sochi', 'lausanne', "st john's", 'graz , schladming',
       'davos', 'latin america', 'nil ', 'chalk river',
       'n/a - trip cancelled', 'kourou, french guiana', "st.john's, nfld",
       'n.a', 'sarajevo, bosnia', "st john's, nf", 'st. kitts, carribean',
       'st. kitts, caribbean', 'essen', 'pretoria', 'iqaliut',
       'denpasar, bali', 'curacao', 'horsham, uk', 'st-john nf',
       'cancun ', 'seoul, gwangju', "st.john's, nf", "st-john's, nf",
       'beijing, chine', 'quito, equator', 'n/a.', 'trip cancelled',
       'st john', 'bermuda', 'quatar, u.a.e.', 'aruba', 'n.a.',
       'davos, ch', 'cancun, mx', 'changi, sg', 'ise-shima, jp',
       'tianjin, cn / beijing, cn', 'beijing, cn / tianjin, cn',
       'beijing, cn', 'tianjin, cn / beijing cn', 'tel-aviv, il',
       'beijing, cn / guangzhou, cn', 'dusseldorf, de', 'porto, pt',
       'seoul, kr', 'new dehli, in', 'al kurah, lb', 'auckland, nz',
       'fl, la, pr', 'pa,ny,ma,me', 'co, wa, ak',
       'texas, united state of america', 'alert', 'nil',
       'ankara, bucharest, vilnius, riga, keflavik', '[redacted]',
       'ljubljana slovinia', 'bucharest, ro', 'ks, co, tx & ca',
       'norfokl, va', 'prestwick, gb', 'brasilia',
       'seoul(republique de coree)', 'lydd, uk', 'prestwick, uk',
       'auckland,  new-zealand', 'south america', 'st sauveur',
       'local travel', 'tel aviv, isarel', 'halisham, uk', 'durban, sa',
       'raligh/durhnam nc', 'deline, n.w.t.', 'deline - nwt',
       "chaffey's locks", 'belgique', 'denpassar, bali', 'asia',
       'to be determined', 'test', 'passchendaele', 'attend vac meetings',
       'st.john, nf', 'fort st-john, b.c.'], dtype=object)

While we check for the unknown values, we can see there's a lot of typo location that we need to change.

In [31]:
#function to check words contains and change the country
def country_replace(regx, replacement:str):
    if type(regx) == list:
        for x in regx:
            mask = data['destination_en'].str.match(x)
            data.loc[mask, 'country'] = data.loc[mask, 'country'].replace({'unknown':replacement}, regex=True)
    else:
        mask = data['destination_en'].str.contains(regx)
        data.loc[mask, 'country'] = data.loc[mask, 'country'].replace({'unknown':replacement}, regex=True)

In [32]:
#canada
country_replace(['.*st.*john.*', 'val.*d.*or.*', '.*vaudreuil.*', '.*ba.*d.*deck.*', '.*ba.*go.*t.*ville.*', '.*st.*hugues.*', '.*trois.*rivieres.*', '.*kana.*ta.*'
    ,'.*st.*prime.*', '.*iq.*l.*t.*', 'st.*felicien.*', 'st.*hubert.*', '.*val.*david.*', '.*tad.*ous.*sac.*', '.*estrie.*', '.*ncr.*', '.*bruxe.*les.*', '.*ch.*lk.*ri.*ver.*'
    , 'st.*s.*v.*ur.*', '.*d.*l.*ne.*', '.*ch.*ff.*y.*locks.*'], 'canada')
#us
country_replace(['.*t.*x.*s.*', '.*tx', '.*nv', '.*dc', '.*il.*li.*no.*is.*', '.*mary.*land.*', '.*fl.*la.*pr.*', '.*pa.*ny.*ma.*me.*', '.*co.*wa.*ak.*',
    '.*ks.*co.*tx.*ca.*', '.*nor.*f.*k.*va.*', '.*r.*l.*gh.*'], 'united states')

#uk
country_replace(['.*hors.*am.*', '.*b.*r.*m.*da.*', '.*pr.*s.*w.*k.*', '.*ly.*d.*', '.*h.*l.*sham.*'],'united kingdom')

#france
country_replace(['.*verdun.*', '.*vimy.*', '.*ko.*ro.*'], 'france')

#mexico
country_replace(['.*aca.*pul.*co.*', '.*cancun.*'], 'mexico')

#germany
country_replace(['.*essen.*', '.*dus.*ldorf.*'],'germany')

#switz
country_replace(['.*lau.*sa.*ne.*', '.*genev.*', '.*davos.*'], 'switzerland')

#netherland
country_replace(['.*schiphol.*', '.*cura.*', '.*ar.*ba.*'],'netherlands')

#indo
country_replace(['.*jak.*ta.*', '.*den.*sar.*', '.*ba.*li.*'], 'indonesia')

#uae
country_replace(['.*q.*tar.*'], 'united arab emirates')

#japan
country_replace(['.*i.*e.*shima.*'], 'japan')

#south africa
country_replace(['.*d.*r.*ban.*', '.*pr.*t.*ria.*'], 'south africa')

#belgium
country_replace(['.*b.*lg.*que', '.*bruxelles.*', '.*p.*s.*ch.*d.*le.*'], 'belgium')

In [33]:
c_replace=[['.*be.*ji.*ng.*','china'], ['.*sa.*ra.*j.*v.*','bosnia and herzegovina'], ['.*st.*kitts.*','saint kitts and nevis'],
    ['.*se.*oul.*','south korea'], ['.*graz.*','austria'], ['.*dakar.*','senegal'], ['.*sochi.*', 'rusia'], ['.*quito.*', 'ecuador'],
    ['changi','singapore'], ['.*tel.*av.*','israel'], ['.*por.*t.*','portugal'], ['.*new.*d.*hi.*','india'], ['.*al.*k.*r.*h.*','libya'], ['.*a.*ck.*land.*','new zealand'],
    ['.*ank.*ra.*','turkey'], ['lj.*blj.*na.*','slovenia'], ['.*buch.*r.*st.*','romania'], ['.*br.*si.*l.*','brazil']]

for x in c_replace:
    country_replace(x[0], x[1])

In [34]:
#check after cleaning
unk = data[data['country']=='unknown']
print(f'Total Unknown {unk.shape[0]} \nTotal unique destination: {unk.destination_en.nunique()}')
unk.destination_en.unique()

Total Unknown 742
Total unique destination: 23

array(['unknown', '-', 'sorel', 'afrique', '(ma)', 'trois-riviere',
       'latin america', 'nil ', 'n/a - trip cancelled', 'n.a', 'n/a.',
       'trip cancelled', 'n.a.', 'new dehli, in', 'alert', 'nil',
       '[redacted]', 'south america', 'local travel', 'asia',
       'to be determined', 'test', 'attend vac meetings'], dtype=object)

From the destination column, we have done multiple layer of cleaning because of typo and ununiform way of input the data. To avoid the same problem in the future, we would recommend that the Treasury Board using a dropdownlist to gather location's or destination or textbox that will giving suggestion instead of typing everything manually.

In [35]:
#data.to_csv(r'./data/travel_clean.csv', index=False)

## topic modeling Latent Dirichlet Allocation

Before we implement LDA, we have to clean our purpose data by removing punctuation, numbers and make sure all of the data in english. So we will convert the data to document term matrix.

In [36]:
#remove punctuation
data['purpose_en_clean'] = data['purpose_en'].str.replace('[^\w\s]', ' ', regex=True)
#remove number
data['purpose_en_clean'] = data['purpose_en'].str.replace('[0-9]', '', regex=True)

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
purpose_cv = cv.fit_transform(data['purpose_en_clean'])
purpose_matrix = pd.DataFrame(purpose_cv.toarray(), columns=cv.get_feature_names_out())
purpose_matrix

,_xd_,aaadcq,aaas,aachen,aafc,aamjiwnaang,aan,aap,aaq,aasb,...,études,été,évaluation,événement,île,îles,įnę,œuf,œufs,ʔapsc
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88304,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

While we create the document term matrix, we found there are plenty of random words and abbreviation. So we will be pulling only noun and adjectives from the purpose column.

In [38]:
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\dvnbi\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dvnbi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [39]:
from nltk import word_tokenize, pos_tag
from nltk.stem import WordNetLemmatizer

In [40]:
#function to pull out nouns and adj from text
def noun_adj(text):
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [41]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data['purpose_en_clean'].apply(noun_adj))
data_nouns_adj

                                 purpose_en_clean
0      meeting saskatchewan provincial government
1                                   board members
2                                   board members
3                                   board members
4                                   board members
...                                           ...
88300                          placer mining tour
88301      pan territorial board forrm attendance
88302                          placer mining tour
88303                vuntut gwitchin first nation
88304                vuntut gwitchin first nation

[88305 rows x 1 columns]

In [42]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words='english', max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.purpose_en_clean)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names_out())
data_dtmna

,_xd_,aaadcq,aaas,aachen,aafc,aap,aaq,aasb,ab,aba,...,études,été,évaluation,événement,île,îles,įnę,œuf,œufs,ʔapsc
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88304,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
from gensim import matutils, models
import scipy.sparse

In [44]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [45]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.037*"meeting" + 0.034*"federal" + 0.033*"travel" + 0.032*"visit" + 0.026*"council" + 0.025*"office" + 0.025*"local" + 0.019*"regional" + 0.018*"national" + 0.016*"association"'),
 (1,
  '0.029*"conference" + 0.020*"expenses" + 0.017*"canadian" + 0.016*"ottawa" + 0.016*"ministerial" + 0.016*"meet" + 0.015*"toronto" + 0.015*"international" + 0.014*"veterans" + 0.013*"summit"'),
 (2,
  '0.211*"meetings" + 0.141*"minister" + 0.083*"attend" + 0.072*"various" + 0.066*"stakeholders" + 0.047*"government" + 0.035*"events" + 0.030*"officials" + 0.026*"announcement" + 0.017*"announcements"'),
 (3,
  '0.102*"meeting" + 0.045*"committee" + 0.034*"executive" + 0.030*"canada" + 0.026*"management" + 0.023*"public" + 0.016*"board" + 0.016*"trip" + 0.015*"forum" + 0.014*"development"')]